button{
    background: #04F4BA;
    padding: .8em 2em;
    border: none;
    font-size: 14pt;
    border-radius: .2em;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 5px 19px -7px #00af84;
}
input{
    padding: .8em;
    border: none;
    font-size: 14pt;
    border-radius: .2em;
    outline: none;
    border: 1px solid #dadada;
    margin-right: 1em;
}